body {
  text-align: center;
}

/* first */
.contact {
  color: white;
  background-color: #82C419;
}
.header {
  background-image: url(images/slider-bg.jpg);
}
.care-center {
  color: white;
  background-color: #252525;
  text-align: left;
  padding: 8% 3%;
}
.care-center2 {
  color: white;
  background-color: #252525;
  text-align: left;
  padding: 8% 3%;
}
.primecare {
  padding: 0;
}
.btn {
  background-color: #82C419;
}
.navbar-toggler-icon {
  background-color: black;
  color: black;
}
.navbar-toggler {
  padding: 0;
}

.login {
  display: inline-block;
  padding: 0 15px;
}
.read-more-btn {
  text-align: right;
  margin-top: 4%;
}
.contact-btn {
margin-bottom: 4%;
}
.baby {
  padding: 0;
}

.fav {
  padding: 0 2%;
}
a {
  text-decoration: none;
  color: black;
}

@media (max-width: 576px) {

  .care-center {
    text-align: center;
    background-image: url(images/slider-bg.jpg);
    background-size: cover;
    color: black;
  }
  .care-center2 {
    text-align: center;
  }
  .prime {
    padding-left: 15%;
  }
  .contact-btn {
    display: none;
  }
  .read-more-btn {
    display: none;
  }
}


/* second */
#second {
  background-color: grey;
  padding: 2% 6%;
  color: white;
}
.services {
  display: flex;
}
.services > * {
  padding: 0 3%;
}
.service4-pic {
  padding: 3% 0;
}

@media (max-width: 576px) {
  .services {
    flex-direction: column;
    text-align: center;
  }
  .services > * {
    padding: 5%;
  }

}

/* Third */
#third {
  padding: 5%;
}

.about-us {
  display: flex;
}

/* fourth */
.why-img {
  background-color: #82C419;
  padding: 20% 40%;
}
@media (max-width: 576px) {
.why-img {
  padding: 10% 20%;
}
.why-images {
  padding: 5% 0;
}
}

/* fifth */
#fifth {
padding: 5%;
}

.form {
  padding: 4% 20%;
}
.form > * {
  padding: 1.5% 0;
}
.submit {
  padding: 1% 8%;
  margin-top: 2%;
}

@media (max-width: 576px) {
.mail-number {
  display: block;
}
}

/* sixth */
.testimonial {
  text-align: left;
  margin: 4% 12%;
  padding: 3% 5%;
  border-style: solid;
  border-width: thin;
  border-color: #82C419;
}
.client {
  position: absolute;
}
