

/* first */
.contact {
  color: white;
  background-color: #82C419;
}
.header {
  background-image: url(images/slider-bg.jpg);
}
.care-center {
  color: white;
  background-color: #363635;
  text-align: left;
  padding: 8% 4%;
}

.btn {
  background-color: #82C419;
}
.navbar-toggler-icon {
  background-color: black;
  color: black;
}
.navbar-toggler {
  padding: 0;
}

.login {
  display: inline-block;
  padding: 0 15px;
}
.read-more-btn {
  text-align: right;
  margin-top: 4%;
}
.contact-btn {
margin-bottom: 4%;
}
.baby {
  padding: 0;
}

.fav {
  padding: 0 2%;
}
a {
  text-decoration: none;
  color: black;
}

@media (max-width: 576px) {
  .btn {
    display: none;
  }
  .care-center {
    text-align: center;
  }
  .prime {
    padding-left: 15%;
  }
  .header {
    background: none;
  }
}


/* second */
